@page "/contact"

<h3>Contact Information</h3>
Twitter: <a href="https://twitter.com/DylanLThomson">&#64;DylanLThomson</a><br/>
Github: <a href="https://github.com/dthomson3">dthomson3</a><br/>
Email: dylan.levi.thomson&#64;gmail.com

@code {

}
